<p>
  <label for="instance_environment_id">Environment:</label>
  <%= f.text_field :environment_id %>
</p>
<p>
  <label for="instance_size">Size:</label>
  <%= f.text_field :size %>
</p>
<p>
  <label for="instance_zone">Zone:</label>
  <%= f.text_field :zone %>
</p>
<p>
  <label for="instance_role">Role:</label>
  <%= f.text_field :role %>
</p>
