<div class="span-4">
  <h2>Applications</h2>
</div>

<div class="span-4 large last">
  <%= link_to 'New', new_object_url %>
</div>

<div class="span-23" id="applications">
  <% if @applications.empty? -%>
    <div class="box blank-state-notice">
      Start by creating an application.
    </div>
  <% else -%>
    <ul>
      <% @applications.each do |a| -%>
        <li class="clear">
          <%= link_to a.name, application_environments_url(a), :class => "name" %> 
          (<%= link_to "edit", edit_application_url(a) %> | 
          <%= link_to "destroy", application_url(a), :method => :delete %>)
        </li>
      <% end -%>
    </ul>
  <% end -%>
</div>

