<h1>New Application</h1>

<%= error_messages_for :application %>

<% form_for(:application, :url => collection_url) do |f| %>
  <fieldset>
    <%= render :partial => "form", :locals => { :f => f } %>
    <div class="span-24 prepend-top">
      <%= submit_tag "Create" %>
    </div>
  </fieldset>
<% end %>
<br/>
<%= link_to 'Back', collection_url %>
