.log_window {
  background-color: #666;
  color: white;
  font: 1.2em 'andale mono', 'lucidia console', monospace;
  line-height: 1.5;
}
.blank-state-notice {
  background-color: #666;
  font-size: 2.9em;
  padding: 0.6em;
  color: white;
}
.blank-state-notice a {
  color: white;
}
.blank-state-notice a:hover {
  text-decoration: none;
}
#applications .name {
  font-size: 1.6em;
}

